        .banner {
            position: relative;
            background: linear-gradient(to bottom, #f5f5f5, #464646);
            height: 200px; /* Adjusted height to accommodate image and search bar */
            width: 100%;

            display: flex;
            flex-direction: column; /* Stack elements vertically */
            justify-content: flex-start; /* Align items at the start vertically */
            align-items: center; /* Center items horizontally */
            overflow: hidden;
        }
        .banner img {
            max-width: 300px; 
            max-height: 200px;
            margin: 10px 0px 10px 0px;
            z-index: 1;
        }

        .search-container {
            position: relative;
            width: 50%;
        }
        .search-container input {
            width: 100%;
            padding: 10px 40px 10px 20px; /* Adjust padding for better alignment */
            border: 1px solid #ccc;
            border-radius: 20px;
            box-sizing: border-box; /* Ensure padding does not affect total width */
        }
        .search-container .edit-icon {
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            color: #888; /* Color of the icon */
        }

.navbar-me {
    width: 100%;
    background-color: #a3a3a3;
    display: flex;
    justify-content: center; /* Center the navigation links horizontally */
    padding: 10px 0;
}

.navbar-me a {
    display: inline-block;
    color: black;
    background-color: white;
    text-align: center;
    padding: 10px 25px;
    text-decoration: none;
    margin: 0 85px; /* Add some space between the links */
    border-radius: 45px;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.navbar-me a:hover {
    background-color: black;
    color: white;
}

.bg-dark-gray {
    background-color: #333; /* Dark gray color */
}

.container-last-project{
    padding: 10px;
    margin: 12px;
    border-radius: 5px;
    background-color: rgb(114, 114, 114);
}

@media (max-width: 768px) {
    .navbar-me a{
        margin: 0px 90px;
    }
    .search-container{
        width: 80%;
    }
    .banner img{
        max-width: 200px;
        max-height: auto;
        margin: 10px 0px 20px 0px;
    }
    .banner{
        height: 175px;
    }

    .container-product{
        grid-template-columns: 1fr;
    }

}

