body {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
}

.container-grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap:1rem;
    padding: 1rem;
}

.container-form{
    display: grid;
    padding: 1em;
    grid-template-columns: repeat(6, 1fr); /* Changed to two columns for responsiveness */
    grid-gap: 20px; /* Added gap between grid items */
    background-color: #4b4b4b;
    border-radius: 1rem;
    color: #ffffff  ;
}

.form {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form input {
    width: 100%;
    height: 30px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: #c9c9c9;
}

.form-1,
.form-2,
.form-3,
.form-4,
.form-5,
.form-6 {
    grid-column: span 1; /* Changed to span 1 column for responsiveness */
    grid-row: span 1; /* Changed to span 1 row for responsiveness */
}

.container-image {
    display: flex;
    flex-direction: column; /* Arrange items in a column */
    justify-content: center;
    align-items: center;
    background-color: #4b4b4b;
    overflow: hidden; /* Ensure the image fits within the container */
    border-radius: 1rem;
    padding: 20px; /* Optional: Add padding for better visual appearance */
}

.container-image img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    display: block;
}

.container-image .button {
    margin-top: 15px; /* Space between the image and the button */
    padding: 0px 15px;
    background-color: #ffffff;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: medium ;
    text-align: center;
}


@media (max-width: 768px) {
    .container-grid {
        grid-template-columns: 1fr; /* Stack the containers vertically */
        grid-template-rows: auto; /* Allow the rows to adjust based on content */
        height: auto; /* Adjust height for better fit */
    }

    .container-form {
        grid-template-rows: repeat(2, 1fr); /* Three rows */
        grid-template-columns: repeat(3, 1fr); /* Two columns */
        grid-gap: 10px; /* Adjust gap for smaller screens */
        padding: 10px;
    }

    .container-image {
        grid-row: 1; /* Place image container at the top */
        grid-column: span 2; /* Ensure it spans both columns */
    }

    .form {
        width: 100%; /* Ensure forms take full width of their grid cell */
    }
        .item-1 img{
        margin-left: 25px;
        width: 175px;
    }
    .item-2 p{
        padding-top: 15px;
        padding-left: 83.4px;
        font-weight: bold;
    }
    .item-3 img{ 
    
        width: 0px;
        margin-bottom: 0;
    }

    .telkomlogo{
        display: none;
    }
}


